            .forma{
                float: left;
                background-color: #C81D11;
                width: 100%;
                height: 350px;

            }
            .contenido{
                float: left;
                background-color: #C81D11;
                width: 100%;
                height: 900px;
            }
            .p {
            margin-left: 5%;
            margin-right: 5%;
            padding: 5px;
            }

            p {
            margin-left: 5%;
            margin-right: 5%;
            }
            .derecha{
                float: left;
                background-color: #C81D11;
                width: 20%;
                height: 100px;
            }
            .cuadro{
                float: left;
                background-color: #C81D11;
                width: 70%;
                height: 350px;

            }
            .cuadro2{
                float: left;
                background-color: #C81D11;
                width: 30%;
                height: 350px;
            }